#front-page-banner{
    height: 60vh;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center bottom;

}
.nav-link{
    color: black;
    font-family: 'Noto Sans', sans-serif;
    /* font-family: 'Fjalla One', sans-serif; */
    /* text-transform: uppercase; */
}
nav{
    /* border-bottom: 1px solid black; */
}
#frontSidebar{
    width: 100%;

}
/*
#text-3{
    text-align: center;
}

.widgetTitle{
    margin-bottom: 1em;
} */
.home-intro-title-text{
        /* padding: 2em 0 1em 0; */
}

.home-intro-text{
    width: 60%;
    margin: auto;
    /* padding-bottom: 2em; */
}

.home-feature-image{
    /* padding: 1em; */
}
.footer-text{
    border-top: 1px solid black;
}

#menu-posts{
    display: none !important;
}
